# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.env.local

# Dependencies
node_modules/
vendor/
venv/
__pycache__/
*.pyc

# Build artifacts
dist/
build/
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Local
*.log
